<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://j-learning.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>j-learning.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>J-Learning</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$J-Learning</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JLearningDb" Order="1" Enabled="True">
          <Destination Path="Data Source=jlearningserver.database.windows.net;Initial Catalog=jlearningdatabase;Integrated Security=False;User ID=mengsomething;Password=#&gt;NETmeng;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="J_LearningSystem.Data.SystemContext, J-LearningSystem.Data" MigrationConfiguration="J_LearningSystem.Data.Migrations.Configuration, J-LearningSystem.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JLearningDb-Web.config Connection String">
      <ParameterValue>Data Source=jlearningserver.database.windows.net;Initial Catalog=jlearningdatabase;Integrated Security=False;User ID=mengsomething;Password=#&gt;NETmeng;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>